<h1>About</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <%= image_tag "profile.jpg", width: 350, alt: "profile image" %>
  </div>

  <div class="col-md-6">
   <p>Full-stack software engineer with a strong web, mobile, and backend experience. History of solving real-world problems. Using battle tested software (JavaScript, Ruby on Rails) and cloud deployment (AWS, Docker).</p>
  </div>

</div>