<h1>About</h1>
<p>Full-stack software engineer with a strong web, mobile, and backend experience. History of solving real-world problems. Using battle tested software (JavaScript, Ruby on Rails) and cloud deployment (AWS, Docker).</p>
